<form [ngFormModel]="form" (ngSubmit)="changePassword()">
    <div class="form-group">
        <label for="oldPassword"> Old Password</label>
        <input id="oldPassword"
               type="password" class="form-control"
               placeholder="Old Password" ngControl="oldPassword"
               #oldPassword="ngForm">
        <div *ngIf="oldPassword.touched && oldPassword.errors">
        <div
                *ngIf="oldPassword.errors.required"
                class="alert alert-danger">Old password is Required
        </div>
            <div class="alert alert-danger" *ngIf="oldPassword.errors.minlength">
                First Name should be minimum {{ oldPassword.errors.minlength?.requiredLength}} characters
            </div>
            <div class="alert alert-danger" *ngIf="oldPassword.errors.validOldPassword">
                Not a Valid Password
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input id="newPassword"
               type="password" class="form-control"
               placeholder="New Password" ngControl="newPassword"
               #newPassword="ngForm">
        <div *ngIf="newPassword.touched && newPassword.errors">
        <div
                *ngIf="newPassword.errors.required"
                class="alert alert-danger">New Password is Required
        </div>
        <div class="alert alert-danger" *ngIf="newPassword.errors.minlength">
            First Name should be minimum {{ newPassword.errors.minlength?.requiredLength}} characters
        </div>
            <div class="alert alert-danger" *ngIf="newPassword.errors.cannotContainSpace">
                First Name should not contain spaces
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmnewPassword"> Confirm New Password</label>
        <input id="confirmNewPassword"
               type="password" class="form-control" placeholder="Confirm New Password"
               ngControl="confirmNewPassword"
               #confirmNewPassword="ngForm">
        <div *ngIf="confirmNewPassword.touched && confirmNewPassword.errors">
            <div
                    *ngIf="confirmNewPassword.errors.required"
                    class="alert alert-danger">Confirm New Password is Required
            </div>
            <div class="alert alert-danger" *ngIf="form.errors && form.errors.passwordsNotMatched">
                Passwords Not Matching
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Change Password</button>
    </form>